*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:white;
scroll-behavior:smooth;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 80px;
background:#020617;
}

.navbar ul{
display:flex;
list-style:none;
gap:20px;
}

.navbar a{
text-decoration:none;
color:white;
}

.hero{
text-align:center;
padding:120px 20px;
}

.hero h1{
font-size:48px;
margin-bottom:10px;
}

.hero h3{
color:#38bdf8;
margin-bottom:20px;
}

.hero p{
max-width:600px;
margin:auto;
}

.hero-buttons{
margin-top:30px;
}

.btn{
background:#38bdf8;
padding:12px 25px;
text-decoration:none;
color:black;
border-radius:8px;
margin-right:10px;
}

.btn-outline{
border:2px solid #38bdf8;
padding:10px 25px;
color:white;
border-radius:8px;
text-decoration:none;
}

.section{
padding:80px 20px;
text-align:center;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:30px;
margin-top:40px;
}

.skill img{
width:60px;
margin-bottom:10px;
transition:0.3s;
}

.skill img:hover{
transform:scale(1.2);
}

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
margin-top:40px;
}

.project-card{
background:#1e293b;
padding:30px;
border-radius:10px;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-10px);
}

.project-card a{
color:#38bdf8;
text-decoration:none;
}

.github-stats img{
max-width:400px;
margin:20px;
}

footer{
text-align:center;
padding:30px;
background:#020617;
margin-top:50px;
}
